.room-form {
  max-width: 75%;
  display: block;
  margin: 0 auto;

  .header {
    background: #3f51b5;
    color: white;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .name,
  .description {
    width: 100%;
  }

  .mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }
}
